# Enable Constructor-Based Dependency Injection with Lombok
# Without this file, we cannot inject final parameter values using @Value and @RequiredArgsConstructor
# See https://keyboardplaying.org/blog/2022/04/spring-constructor-dependency-injection-lombok/
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
